/* globals */

body {
  margin: 0;
  box-sizing: border-box;

  background-color: white;

  font-family: 'Raleway', 'Roboto', 'Open Sans', sans-serif;
  /* font-family: 'Chelsea Market', cursive; */
  color: #222;
}

/* layout */

.content {
  max-width: 700px;
  margin: calc(4vw + 1rem) auto;
  padding: 0 0.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 256,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: 1rem;
  padding-right: 0.1rem;
}
