/* Blue:
 *   Ed: #14B4DA
 *   My: #1474DA
 *   Ed lighter: 63D6F1
 * Green: #14DAAC
 */
a:link {
  text-decoration: none;
  color: #1474DA;
}

a:visited {
  color: #1474DA;
}

a:hover {
  color: #14B4DA;
}

a:active {
  color: #14B4DA;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* layout */

.section {
  margin-top: 4rem;
}

.section__title {
  color: #DDD;
  font-size: 1.5rem;
  /* font-weight: 700; */
}

/* utils */

.hidden {
  display: none;
}

.primary {
  font-size: 2rem;
  font-weight: 700;
  /* letter-spacing: 0.025rem; */
}

.secondary {
  color: #858E94;
  font-size: 1.5rem;
  /* letter-spacing: 0.025rem; */
}

/* components  */

/* id */

.id {
  display: flex;
  align-items: center;
}

.id__avatar {
  margin-right: 1.5rem;
  width: 150px;
  /* Fix height for clean loading */
  height: 150px;

  border-radius: 50%;
  flex-shrink: 0.25;
}

.id__name-container {
  text-align: center;
  margin-left: 0 1.5rem;
}

/* info */

.info__above {
}

.info_central {
  margin: 0.75rem 0;
}

.info__below {
}

/* contact */

.contact {
  line-height: 1.75;
  font-size: 1.2rem;
}

.contact ul {
  margin-top: 0.5rem;
}

.contact li {
  margin-right: 1rem;
}

.contact i {

  /* avoid side text moving on page load */
  display: inline-block;
  width: 1.5rem;
  text-align: center;
  margin-right: 0.75rem;
}

/* worked */

.worked {
  /* Removing 1rem top and bottom because logos include it already */
  /* margin: 3rem 0 -1rem 0; */
}

.worked ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.worked li {
  flex: 0 1 30%;
  margin-right: 2em;
}
.worked li:last-child {
  margin-right: 0;
}

.worked img {
  width: 100%;
  height: 100%;
}

/* educated */

.educated ul {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.educated li {
  flex: 0 1 20%;
  margin-right: 2em;
}

.educated img {
  /* filter: grayscale(100%); */
  width: 100%;
  height: 100%;
}
